<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/headFragment.html :: head">
	<meta charset="UTF-8">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-white" th:href="@{/Home/pt}">Português <image th:src="@{/img/brazil.png}" height="25px" /></a>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead background-pregnancy">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-12 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">FASD - Fetal Alcohol Spectrum Disorder</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-12 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5 text-center">
						Fetal Alcohol Spectrum Disorder has no cure, but it is preventable.
                    </p>
                </div>
            </div>
        </div>
    </header>
    
    <section class="page-section">
		<div class="container font-weight-light text-exp text-center">
			
			During the embryo's development, rapid changes occur to form the baby. This phase is delicate, so it is crucial to avoid harmful substances which may interfere with your baby's development.
			<br/><br/>
			Alcohol is known as a teratogen, which means that it has toxic properties that could damage embryonic cells after crossing the placenta. As a result, there are major birth defects and impairment of functioning. These characteristics do not disappear after the baby grows.
			<br/><br/>
			Once the development of the fetal brain occurs throughout pregnancy, it is not safe to drink alcohol at any time during the gestation. The warning comprises all types of alcoholic beverages, with zero tolerance.
			<br/><br/>
			Women who intend to get pregnant, this recommendation includes you all! Planning is the key to avoid neurological impairments and cumulative effects on your child's organs. 
			<br/><br/>
			Fetal Alcohol Spectrum Disorder (FASD) has no cure, but it is preventable.
			<br/><br/>
			<b>Some of the consequences are:</b> 100 times more likely to have health problems, 2 times more frequent than autism, learning disabilities, oral clefts, major heart and bones defects, brain-based disabilities, abnormal facial features, microcephaly, vision and hearing problems.
		
		</div>
	</section>

    <!-- About Section -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
        	<div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Alcohol can cause severe damage to the fetus</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">
						“EtOH(Alcohol) may cause mild to severe damage to the development of an unborn baby leading to lifelong physical, behavioral, and cognitive disabilities.” (Ehrhart et.al, 2018, p.10)	
					</p>
                </div>
            </div>
        	<br/><br/>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">The teratogenic effects of alcohol are widespread</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">
                		“Clearly, the teratogenic effects of alcohol on the brain are widespread and diverse. They range from global brain volume reductions to specific shape abnormalities of individual structures, and affect not only subjects with the most severe diagnoses, but also subjects fewer cognitive/ behavioral symptoms and those with no facial abnormalities.” (Lebel et.al, 2011, p.115)	
                	</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Visit the official pages</h2>
            <hr class="divider my-4">
            <div class="row">
            	<div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <a href="https://canfasd.ca" target="_blank" title="CanFASD"><img th:src="@{/img/CanFASD.png}" height="60px"></a>
                        <br/>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                    	<a href="http://www.fasdhub.org.au" target="_blank" title="AuFASD"><img th:src="@{/img/AuFASD.png}" height="60px"></a>
                        <br/>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                    	<a href="https://www.cdc.gov/ncbddd/fasd/facts.html" target="_blank" title="CDCFASD"><img th:src="@{/img/CdcFASD.png}" height="60px"></a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- Footer -->
    <footer th:replace="fragments/footerFragment.html :: footer"></footer>

</body>

</html>