<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/headFragment.html :: head">
	<meta charset="UTF-8">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-white" th:href="@{/Home/en}">English <image th:src="@{/img/united-states.png}" height="25px" /></a>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead background-pregnancy">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-12 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">SAF - Síndrome Alcoólica Fetal</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-12 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5 text-center">
						A Síndrome Alcoólica Fetal não tem cura, mas ela é completamente evitável. 						                   
                    </p>
                </div>
            </div>
        </div>
    </header>
    
    <section class="page-section">
		<div class="container font-weight-light text-exp">
			
			Durante a formação do embrião acontecem mudanças muito rápidas para que ele possa se formar. Esta fase é delicada e por isso é importante evitar substâncias que possam interferir no desenvolvimento do seu bebê. 
			<br/><br/>
			Uma dessas substâncias é o álcool, um agente capaz de atravessar a placenta e que pertence à categoria dos teratógenos. Isso significa que ele tem propriedades tóxicas que podem afetar as células embrionárias, resultando em significativas anomalias congênitas e perda de funcionalidade do embrião, que não desaparecem depois que ele crescer. 
			<br/><br/>
			O cérebro do bebê é desenvolvido ao longo de toda a gestação, por isso não é seguro ingerir álcool em nenhum momento da gravidez. O alerta é para todos os tipos de álcool, com tolerância zero.
			<br/><br/>
			Atenção, mulheres que querem engravidar, a recomendação se estende a vocês! O planejamento é a chave para evitar problemas no neurodesenvolvimento e os efeitos cumulativos nos órgãos do seu filho. A Síndrome Alcoólica Fetal não tem cura, mas ela é completamente evitável.
			<br/><br/>
			Algumas das consequências incluem: 100 vezes mais provável de ter problemas de saúde, 2 vezes mais frequente que o autismo, dificuldade de apredizagem, fenda palatina, defeitos congênitos no coração e(ou) ossos, incapacidade cerebral, alteração das características faciais, microcefalia, problemas de visão e audição.
			
		</div>
	</section>

    <!-- About Section -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
        	<div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Frase do Artigo!</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">"Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!" - Popova</p>
                </div>
            </div>
        	
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Frase do Artigo!</h2>
                    <hr class="divider light my-4">
                    <p class="text-white-50 mb-4">"Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!" - Lebel, Catherine</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Visite as páginas oficiais</h2>
            <hr class="divider my-4">
            <div class="row">
            	<div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <a href="https://canfasd.ca" target="_blank"><img th:src="@{/img/CanFASD.png}" height="60px"></a>
                        <br/>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                    	<a href="http://www.fasdhub.org.au" target="_blank"><img th:src="@{/img/AuFASD.png}" height="60px"></a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<!-- Footer -->
    <footer th:replace="fragments/footerFragment.html :: footer"></footer>

</body>

</html>